:root {
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-background: #f9f9f9;
  --color-bg-dark: #181C23;
  --color-bg-footer: #22262D;
  --color-white: #ffffff;
  --color-border: #2F3339;
  --color-text-grey: #858585;

    /* Typo – familles */
  --font-sans: "Bricolage Grotesque", sans-serif;
  --font-heading: var(--font-sans);
  --font-style: normal;
  --font-optical-size: auto;

  /* Typo – tailles/line-height (exemple) */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --leading-normal: 1.5;

  /* Raccourcis utiles */
  --font-body: var(--font-sans);
  --font-title: var(--font-heading);
  --color-bg: var(--color-bg-dark);
  --color-text: var(--color-white);
  --max-section-width: 78.75rem;
  --color-btn-border: #555555;
}
