@use "sass:map";

$breakpoints: (
  smartphone: 450px,
  tablet: 768px,
  desktop: 1280px,
  large: 1280px,
  xlarge: 1440px,
);

@mixin mq($from) {
  @media (min-width: map.get($breakpoints, $from)) {
    @content;
  }
}
